* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad          Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.profile {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px #fff;
}

@media (max-width:640px) {
  .logo,.x{
    font-size: 1vw;
  }
}